<div class="genres">
  <mat-chip-listbox (change)="onSelection($any($event))">
    <mat-chip-option *ngFor="let genre of genres" color="accent" [value] ="genre">
      {{genre.name}}
    </mat-chip-option>
  </mat-chip-listbox>
</div>
<div class="book_list">
  <div *ngFor="let book of displayedBooks" class="book" (click)="openBookDialog(book)">
    <div class="div_img">
      <img src="https://as1.ftcdn.net/v2/jpg/05/32/51/32/1000_F_532513268_f5drWMbbGCNcCYLfJsGdGmQUUjpb42O5.jpg">
    </div>
    <button mat-icon-button color="warn" class="btn">
      <!--<mat-icon *ngIf="!book.isFavorite">favorite_border</mat-icon>
      <mat-icon *ngIf="book.isFavorite">favorite</mat-icon>-->
    </button>
    <h3>{{ book.title }}</h3>
    <p>Autor: {{ book.author }}</p>
    <p>Gatunek: {{ book.genre }}</p>
  </div>
</div>
