<h1 mat-dialog-title>Dodaj książke</h1>
<mat-dialog-content>
  <form [formGroup]="addBookForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="input">
      <mat-label>Tytuł</mat-label>
      <input type="text" matInput formControlName="title">
      @if (addBookForm.get('title')?.hasError('required')) {
      <mat-error>Tytuł jest <strong>wymagany</strong></mat-error>
      }
      @if (addBookForm.get('title')?.hasError('maxLength')) {
      <mat-error>Tytuł nie może mieć więcej niż 64 znaki</mat-error>
      }
    </mat-form-field>
    <mat-form-field class="input">
      <mat-label>Autor</mat-label>
      <input type="text" matInput formControlName="author">
      @if (addBookForm.get('author')?.hasError('required')) {
      <mat-error>Tytuł jest <strong>wymagany</strong></mat-error>
      }
      @if (addBookForm.get('author')?.hasError('maxLength')) {
      <mat-error>Tytuł nie może mieć więcej niż 64 znaki</mat-error>
      }
    </mat-form-field>
    <mat-form-field class="input">
      <mat-label>Opis</mat-label>
      <input type="text" matInput formControlName="description">
      @if (addBookForm.get('description')?.hasError('required')) {
      <mat-error>Tytuł jest <strong>wymagany</strong></mat-error>
      }
      @if (addBookForm.get('description')?.hasError('maxLength')) {
      <mat-error>Tytuł nie może mieć więcej niż 512 znaki</mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="fill" class="input">
      <mat-label>Gatunek</mat-label>
      <mat-select formControlName="genreId">
        <mat-option *ngFor="let genre of genres" [value]="genre.id">
          {{genre.name}}
        </mat-option>
      </mat-select>
      @if (addBookForm.get('genre')?.hasError('required')) {
      <mat-error>Tytuł jest <strong>wymagany</strong></mat-error>
      }
    </mat-form-field>

    <div class="btn_center">
      <button type="submit" mat-button class="btn">Dodaj</button>
    </div>
  </form>
</mat-dialog-content>

<div *ngIf="apiResponse" class="api-response" [style.color]="apiResponse[1] == 'error' ? 'darkred' : 'lightblue'">
  {{apiResponse[0]}}
</div>
