.box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  height:100%;
  width: 100%;
}

.small_box{

}
.div_img {
  width: 15rem;
}

img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 5px;
}
